<ion-grid>
  <ion-row>
    <ion-col size-sm="12" size-lg="6">
      <!-- Imagen del producto -->
      <img     src="https://http2.mlstatic.com/D_NQ_NP_626019-MLA45169799193_032021-O.webp" alt="Producto">
    </ion-col>


    <ion-col >
      <!-- Título del producto -->
      <h2>Título del Producto</h2>
    </ion-col>
    <ion-col size-lg="12">
      <!-- Descripción del producto -->
      <p>DEl teclado HK Gaming GK61 es un teclado mecánico diseñado específicamente para jugadores, y viene con varias características que pueden ser de interés para los entusiastas de los juegos. </p>
    </ion-col>
  </ion-row>
</ion-grid>